@import './Off/styles.scss';
@import './On/styles.scss';

.content-mode-false, .content-mode-true {
  display: flex;
  align-items: center;
  position: absolute;
  left: 40px;
  top: 18px;
  width: 52px;
  height: 17px;
  border-radius: 50px;
  background-color: rgb(122 122 122 / 59%);
}

button {
  border: none;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin: 5px;
}
